{
  "extends": "vue",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
  },
  "plugins": [
    "vue",
  ],
  "env": {
    "node": true,
    "mocha": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "semi": [2, "always"],
    "no-console": 0,
    "space-before-function-paren": [2, "never"]
  }
}
